# VPN configs
*.ovpn

# Wordlists or dictionaries
wordlist/
rockyou.txt
*.lst

# Secrets or credentials
*.key
*.pem
*.crt
*.kdbx
*.gpg
*.asc
*.token
*.secret
*.auth
credentials.*
secrets.*
.env
.env.*
id_rsa
id_rsa.pub
id_dsa
id_ecdsa
id_ed25519
id_ed25519.pub
.ssh/

# System clutter
*.swp
*.swo
*.bak
*~
*.tmp
*.temp
*.old
*.orig
.DS_Store
Thumbs.db

# Logs
*.log

# Editor folders
.vscode/
.idea/
*.code-workspace

# Build artifacts
result/
dist/
build/
target/
__pycache__/
*.py[cod]
*.egg-info/

# nix build stuff
.result-tmp/
.cache/
ssh-agent.env.direnv/
.env*
result*
home/git.nix
ssh-agent.env

