# VPN configs
*.ovpn

# Wordlists or dictionaries
wordlist/
rockyou.txt
*.lst

# Secrets or credentials
*.key
*.pem
*.crt
*.kdbx
*.gpg
secrets.*
.env
.env.*

# System clutter
*.swp
*.swo
*.bak
*~
.DS_Store
Thumbs.db

# Logs
*.log

# Editor folders
.vscode/
.idea/
*.code-workspace

# Build artifacts
result/
dist/
build/
target/

# nix build stuff
.result-tmp/
.cache/
ssh-agent.env.direnv/
.env*
result*
home/git.nix
ssh-agent.env
