* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  background: #1e1e2e;
  color: #cdd6f4;
  border: none;
  outline: none;
}

#window {
  margin: 0px;
  border-radius: 10px;
  background-color: #1e1e2e;
}

#input {
  padding: 4px 8px; /* thinner input bar */
  border-radius: 6px;
  background-color: #1e1e2e;
  border: 2px solid #89dceb; /* baby blue border */
  color: #cdd6f4;
  margin-bottom: 8px;
}

#inner-box {
  padding: 6px;
}

#outer-box {
  margin: 20px;
}

#entry {
  padding: 1px;
  border-radius: 1px;
  margin: 1px 0;
}

#entry:selected {
  background-color: #89dceb; /* baby blue highlight */
  color: #1e1e2e;
}

#img {
  margin-right: 6px;
  size: 22px;
}

