.visual-refresh.theme-midnight, .visual-refresh .theme-midnight {
  --bg-brand: #f5c2e7;
  --background-base-lower: #11111b;
  --background-base-lowest: #11111b;
  --background-base-low: #181825;
  --background-primary: #1e1e2e;
  --background-secondary: #181825;
  --background-tertiary: #11111b;
  --bg-base-tertiary: #181825;
  --bg-base-secondary: #1e1e2e;
  --bg-surface-overlay: #313244;
  --bg-surface-raised: #313244;
  --background-surface-high: #313244;
  --background-surface-higher: #45475a;
  --background-surface-highest: #585b70;
  --background-secondary-alt: #585b70;
  --background-floating: #1e1e2e;
  --user-profile-overlay-background: #1e1e2e;
  --card-primary-bg: #1e1e2e;
  --custom-channel-members-bg: ;

  --chat-background-default: #1e1e2e;

  --autocomplete-bg: #1e1e2e;

  --modal-footer-background: #181825;
  --modal-background: #181825;

  --notice-background-positive: rgba(166, 227, 161, 0.15); /* Green */
  --notice-background-critical: rgba(243, 139, 168, 0.15); /* Red */

  --text-normal: #cdd6f4;
  --text-code-keyword: #f38ba8;   /* Red */
  --text-code-string: #a6e3a1;    /* Green */
  --text-code-title: #89b4fa;     /* Blue */
  --text-code-variable: #94e2d5;  /* Teal */

  --twitch: #b4befe52;  /* Lavender with opacity */
}

/* Selected or hovered server/channel */
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8,
.wrapper__6e9f8:hover .childWrapper__6e9f8 {
background-color: #f5c2e755; /* Pink with opacity */
}

/* Streamer mode */
.colorStreamerMode__6e2b9 {
--custom-notice-text: #b4befe;
}

/* Call background */
.callContainer_cb9592.theme-dark.theme-midnight {
  background: #181825;
}

/* Custom icon background */
.midnightIcon__36dee {
  background-color: #1e1e2e;
}

/* Spotify mini-player */
.theme-dark #vc-spotify-player {
  background-color: var(--background-surface-high);
}

/* Hide the short status bar */
.bar_c38106.shortBar_c38106 {
  display: none;
}

/* Button section background */
.buttonSection__1405b.experimentButtonSection__1405b {
  background: #313244;
}

/* Active button styles */
.theme-dark .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9,
.theme-dark.custom-theme-background .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9 {
background-color: #a6e3a155;
color: #a6e3a1;
}

/* Hover on active buttons */
.theme-dark .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9:hover,
.theme-dark.custom-theme-background .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9:hover {
background-color: #a6e3a177;
color: #a6e3a1;
}

/* Active button click */
.theme-dark .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9:active,
.theme-dark.custom-theme-background .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9:active {
background-color: #a6e3a199;
color: #a6e3a1;
}