* {
    background:      #1e1e2e;
    background-alt:  #313244;
    foreground:      #cdd6f4;
    selected:        #f5c2e7;
    border-color:    @selected;
    border-radius:   12px;
    font:            "JetBrainsMono Nerd Font 12";
}

window {
    width: 500px;
    padding: 10px;
    border: 2px;
    border-radius: 12px;
    background-color: @background;
}

mainbox {
    spacing: 10px;
}

inputbar {
    background-color: @background-alt;
    padding: 8px;
    border-radius: 10px;
    children: [prompt, entry];
}

entry {
    placeholder: "Search...";
    expand: true;
    padding: 5px;
    text-color: @foreground;
}

prompt {
    text-color: @selected;
}

listview {
    lines: 8;
    fixed-height: true;
    border: 0;
    spacing: 8px;
    scrollbar: false;
}

element {
    padding: 6px;
    border-radius: 10px;
    background-color: transparent;
    text-color: @foreground;
}

element selected {
    background-color: @selected;
    text-color: #1e1e2e;
}

element-icon {
    size: 24px;
    padding: 0 8px 0 0;
}
